<launch>

    <include file="$(find rcprg_gazebo_utils)/launch/gazebo_client.launch" />

    <include file="$(find velma_ros_plugin)/launch/velma_planner.launch" />

    <include file="$(find rcprg_gazebo_utils)/launch/gazebo_publish_ros_tf_object.launch">
        <arg name="link_name" value="table::link" />
        <arg name="frame_id" value="table" />
    </include>

    <include file="$(find rcprg_gazebo_utils)/launch/gazebo_publish_ros_tf_object.launch">
        <arg name="link_name" value="cafe_table::link" />
        <arg name="frame_id" value="cafe" />
    </include>

    <include file="$(find rcprg_gazebo_utils)/launch/gazebo_publish_ros_tf_object.launch">
        <arg name="link_name" value="beer::link" />
        <arg name="frame_id" value="beer" />
    </include>

    <node pkg="rcprg_ros_utils" type="run_rviz.sh" name="rviz" args="-d $(find stero_velma)/rviz.config.rviz" />

</launch>
